<div class="panel panel-info">
  <div class="panel-heading">
  <%= link_to edit_task_path(task) do %>
    Task: №<%= task.id %>  Created <%= time_ago_in_words(task.created_at) %> ago
  <% end %>
  </div>
  <div class="panel-body"><%= task.content %></div>
  <div class="panel-footer text-center">
    <% if task.state == 'doing' %>
        <div class="btn-group btn-group-justified">
        <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, change_task_path(task, state: 'to_do'), method: :put, class: 'btn btn-info btn-md btn-block' %>
          <%= link_to '<i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, change_task_path(task, state: 'done'), method: :put, class: 'btn btn-info btn-md btn-block' %>
        </div>
    <% elsif task.state == 'to_do' %>
        <div class="btn-group btn-group-justified">
        <%= link_to '<i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, change_task_path(task, state: 'doing'), method: :put, class: 'btn btn-info btn-md btn-block' %>
        </div>
            <% else %>
            <div class="btn-group btn-group-justified">
            <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, change_task_path(task, state: 'doing'), method: :put, class: 'btn btn-info btn-md btn-block' %>
            </div>
    <% end %>
  </div>
</div>